* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#orgbtn{
    display: flex;
    margin: 10px;
}
#boxtext{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    width: 621px;
    height: 70px;
    border-radius: 8px;
    flex-direction: column;
    margin-left: -8px;

}
#btn{
background-color: #f5f5f5;
display: flex;
align-items: center;
justify-content: center;
border: none;
width: 50px;
height: 72px;
margin-left: 4px;
border-radius: 8px;
}
#form{
    max-width: 800px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}
#boxtext1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    width: 750px;
    height: 70px;
    border-radius: 8px;
}
#btnVerify{
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 50px;
    height: 70px;
    margin-left: 4px;
    border-radius: 8px;
}

#btnAlteretion{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 50px;
    height: 70px;
    margin-left: 4px;
    border-radius: 8px;
}

#btnDelete{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 50px;
    height: 70px;
    margin-left: 4px;
    border-radius: 8px;
}

#buttons{
    display: flex;
}

input::placeholder{
    color: black;
}
#boxtext1{
    color: black;
}